.book_title{
  margin: 20px 10px 10px 20px;
}

.main_content{

}

.action_button{
  padding: 10px;
  background-color: #343a40;
  color: #fcd036;
  border-radius: 5px;
  margin-left: 85%;
  margin-right: 5%;
  border: 2px solid #212428;
  box-shadow: 3px 3px 15px black;
}

.action_button:hover{
  background-color: #212428;
  color: #ffe290;
  border: 2px solid #fcd036;
  box-shadow: none;
 }

.infos_div{
  display: inline-flex;
  width: 90%;
  margin: 15px 5%;
  border-radius: 5px;
  padding: 30px;
  background-color: #343a40;
  color: #fcd036;
  clear: both;
}

.infos{
  float: left;
  margin-right: 200px;
}

.book_cover{
  margin-left: 10%;
  height: 300px;
  position: relative;
  float: right;
  background-color: #fcd036;
  box-shadow: 3px 3px 15px black;
}
