.action_button {
  padding: 1.5vh;
  background-color: #343a40;
  color:  #fcd036;
  border: 0.2vh solid #212428;
  box-shadow: 0 0 0.5vh 0.2vh #343a40;
}

.action_button:hover {
  background-color:  #fcd036;
  color: #343a40;
  border: 0.2vh solid  #fcd036;
  box-shadow: 0 0 0.5vh 0.2vh #fcd036;
}

.infos_div {
  width: 90%;
  margin: 1vh 5%;
  border-radius: 1vh;
  padding: 4vh;
  color: #fcd036;
}

.card {
  border-style: none;
  background: transparent;
}