<app-navbar></app-navbar>
<header class="pt-1">
  <div class="container pt-5 pt-xl-5">
      <div class="row">
        <input *ngIf="allBooks.length > 1" type="text" [(ngModel)]="searchText" (keyup)="filterBooks()" class="mb-4 input-group-text text-secondary" placeholder="Rechercher un livre">
        <div class="d-flex justify-content-center align-items-center">
          <pagination-controls (pageChange)="common.onPageChange($event)" [maxSize]="10" [directionLinks]="true" [autoHide]="true" [responsive]="true" [previousLabel]=previousLabel [nextLabel]=nextLabel></pagination-controls>
        </div>
        <div class="col-md-4" *ngFor="let book of books | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
          <div class="card mb-4">
            <div class="card-body cursor-pointer" (click)="common.navigate('book/' + book.isbn)">
              <h5 class="card-title">{{ book.title }}</h5>
              <p class="card-text">{{ book.author }}</p>
              <div class="d-flex justify-content-center">
                <div class="col-8">
                  <img *ngIf="book.imgUrl !== 'default' && book.imgUrl.startsWith('blob')"
                  [src]="this.appUpload.sanitize(book.imgUrl)"
                  class="card-img-top" alt="{{ book.title }}">

                  <img *ngIf="book.imgUrl !== 'default' && !book.imgUrl.startsWith('blob')"
                  [src]="book.imgUrl"
                  class="card-img-top" alt="{{ book.title }}">
                </div>
              </div>
              <div class="text-center mt-2">
                  <p class="card-text">{{ book.nbPages }} pages</p>
                  <p *ngIf="book.status === 'to_read'" class="card-text">À lire</p>
                  <p *ngIf="book.status === 'reading'" class="card-text">En cours</p>
                  <p *ngIf="book.status === 'read'" class="card-text">Déjà lu, {{ book.readCount }} fois</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <pagination-controls (pageChange)="common.onPageChange($event)" [maxSize]="10" [directionLinks]="true" [autoHide]="true" [responsive]="true" [previousLabel]=previousLabel [nextLabel]=nextLabel></pagination-controls>
      </div>
  </div>
</header>
<app-footer></app-footer>
