<app-navbar></app-navbar>
<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{user.username}}</h5>
              <p class="text-muted mb-1">Since {{user.createAt.substring(0,10)}}</p>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-center align-items-center p-3 btn-outline-dark">
                  <p class="mb-0 text-center"><a href="https://github.com/jabibamman/biblionest" target="_blank">Biblionest Open Source</a></p>
                </li>
                <li class="list-group-item d-flex justify-content-center align-items-center p-3">
                  <p class="mb-0 text-center"><a href="https://github.com/jabibamman" target="_blank">@jabibamman</a></p>
                </li>
                <li class="list-group-item d-flex justify-content-center align-items-center p-3">
                  <p class="mb-0 text-center"><a href="https://github.com/carlito0605" target="_blank">@carlito0605</a></p>
                </li>
                <li class="list-group-item d-flex justify-content-center align-items-center p-3">
                  <p class="mb-0 text-center"><a href="https://github.com/chikatetsu" target="_blank">@chikatetsu</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Username</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.username}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.email}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                    <p class="mb-4"><span class="text-primary font-italic me-1 fw-bold">Livres à lire :</span> {{ bookToRead.length }}</p>
                    <div *ngFor="let book of bookToRead">
                        <p class="mb-1" style="font-size: .77rem;">{{ book.title }}</p>
                        <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1 fw-bold"> Auteurs Favoris</span> 😁</p>
                  <div *ngFor="let author of favoriteAuthors">
                    <p class="mb-1" style="font-size: .77rem;">{{ author.name }}</p>
                    <div class="progress rounded mb-2" style="height: 5px;">
                        <div class="progress-bar" role="progressbar" [style.width]="author.times * 10 + '%'" [attr.aria-valuenow]="author.times * 10" aria-valuemin="50" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<app-footer></app-footer>
